@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

h1{
	margin: 3px;
}

h2{
	margin: 10px;
}

h3{
	margin-left: 10px;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.sidebar {
  width: 15%;
  height: 100%;
  box-sizing: border-box;
  border-right: solid 1px black;
}

.list{
	padding: 25px;
	margin-left: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  
}

.flex-content {
  flex-grow: 1;
  background-color: palegoldenrod;
  box-sizing: border-box;
  border: 8px solid green;
}

.fixed-content {
  height: 128px;
  background-color: thistle;
  box-sizing: border-box;
  border: 8px solid darkmagenta;
}